$blueHighlight : #68CBEC

@font-face
    font-family: bodyFont
    src: url(BertholdAkzidenzGroteskBold.otf)


body
    font-family: bodyFont
    overflow-x: hidden
    height: 100%
    width: 100%

.orangeText
    font-size: 40px
    color: orange
    padding-top: 15px
    text-align: center

/* MENU BAR*/
#menuBar
  background-color: transparent
  border: 0px
  position: absolute

  .navbar-brand
    color: white
    font-size: 30px
    position: relative
    top: 15px

  :hover
    color: $blueHighlight

  .navbar-nav
    li
      margin-right: 20px
      margin-top: 20px

      a
        color: white
        font-size: 23px
        background-color: transparent
        padding: 10px

      :hover
        color: $blueHighlight
        border-bottom: 2px solid white


/* HEADER */
#header
  min-height: 95vh
  width: 100vw
  background: url(../images/01.jpg)
  background-size: cover
  background-position: bottom
  background-repeat: no-repeat
  color: #cfcfcf
  border-bottom: 10px solid $blueHighlight
  display: inline-block

  .overlay
    background: #000
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%)
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%)
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000',GradientType=0)
    height: 100%
    width: 100%
    position: absolute
    z-index: 0

  #banner
    width: 100%
    position: absolute
    top: 30%

    h1
      font-size: 65px
      color: white
      margin-bottom: 15px

    .color
        color: #68CBEC

    #addressSearch
      width: 70%
      left: 15%
      text-align: center
      display: block
      position: relative
      clear: both
      font-size: 120%

  a.fa.fa-angle-down
      padding: 10px 15px
      color: white
      border: 2px solid white
      border-radius: 50%
      font-size: 24px
      margin-top: 50px
      transition: all .5s

  a.fa.fa-angle-down:hover
      background: $blueHighlight
      color: #fff
      border: 2px solid $blueHighlight

/* ABOUT SECTION */
#about
    border-bottom: 10px solid #68CBEC

    #description
      width: 80%
      left: 10%
      position: relative
      text-align: center

    #foundersTitle
      font-size: 30px
      text-decoration: underline
      margin: 25px

    .founderProfile
      text-align: center
      color: black
      margin-bottom: 100px

      a
        color: $blueHighlight

      img
        align: center
        width: 50%

      .bio
        display: inline-block
        width: 80%
        font-weight: normal

/* MAP */
#map
    background-color: purple


.map-container
    max-width: 100%
    height: 80vh
    position: relative


.gmnoprint a,.gmnoprint span
    display: none


.gmnoprint div
    background: none !important


img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4_hdpi.png"],a[href^="http://maps.google.com/maps"]
    display: none !important

/* HOW IT WORKS */
#how
    width: 100vw
    height: 95vh
    border-bottom: 10px solid #68CBEC


/* FOOTER */
#footer
    font-size: 40px
    color: orange
    background-color: #6E6E6E
    height: 200px
