<head>
  <title>Sapori Pinocchios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="text/javascript" src="js/smoothScroll.js"></script>
  <script>
    $(document).ready(function() {
      $('a').smoothScroll({
        speed : 900
      });
    });
  </script>
</head>

<body>
  {{> menuTemp}}
  {{> headerTemp}}
  {{> aboutTemp}}
  {{> howTemp}}
  {{> mapTemp}}
  {{> footer}}
</body>

<template name="menuTemp">
  <nav id="menuBar" class="navbar navbar-default navbar-fixed-top" role="navigation">

   <div class="navbar-header">
      <button type="button" class="navbar-toggle"
         data-toggle="collapse" data-target="#example-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#header">Sapori Pinocchios</a>
   </div>

   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav pull-right">
         <li class="active"><a href="#about">About</a></li>
         <li><a href="#how">How it Works</a></li>
         <li><a href="#menu">Our Menu</a></li>
         <li><a href="#map">Find a Bike</a></li>
      </ul>
   </div>

</nav>
</template>

<template name="headerTemp">
<div id="header" class="text-center">
  <div class="overlay"></div>
      <div id="banner" class="content">
          <h1>The North End Comes to <strong><span class="color">You.</span></strong></h1>
          <input id="addressSearch" placeholder="Find the nearest cart!">
          <a href="#about" class="fa fa-angle-down page-scroll"></a>
      </div>

</div>
</template>

<template name="aboutTemp">
<div id="about">
  <p class="orangeText"> ABOUT THE COMPANY </p>
  <div class="row">
    <p id="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare sapien eu eros tincidunt, vitae egestas ligula imperdiet. Pellentesque tincidunt ultrices arcu, non vestibulum tortor hendrerit sed. Nunc commodo risus a massa pharetra, in bibendum erat consectetur. Sed ultrices eros at metus porta scelerisque. Aenean sit amet tristique quam. Donec at mauris id nunc interdum fermentum. Pellentesque quis tortor non leo blandit pulvinar. Mauris tristique dolor vitae eros hendrerit, sit amet rutrum eros semper. Phasellus pretium hendrerit dui eu consequat. Nullam bibendum tellus non lacus sollicitudin, in maximus neque viverra. Nulla varius lectus eget molestie hendrerit. Praesent et lorem ante. Aliquam hendrerit augue id arcu tincidunt, accumsan rhoncus sapien rhoncus. Nullam vitae lectus eros. Donec sodales eleifend libero id auctor.</p>
      <p class="orangeText" id="foundersTitle"> Founders </p>
    <div class="col-lg-8 col-lg-offset-2">
      <div class="row">
      <div class="col-lg-5 founderProfile">
        <a href="https://www.linkedin.com/in/daniele-bocchieri-b5674777"><img src="images/d.bocchieri.jpg"></a>
        <a href="https://www.linkedin.com/in/daniele-bocchieri-b5674777"><h3>Daniele Bocchieri</h3></a>
        <span class="bio">Daniele is an Economics and Finance honors student at Northeastern University in the D’Amore-McKim School of Business. He is the Senior Program Director for the Entrepreneurs Club at Northeastern, Vice President of Business Development for AIESEC Boston, and President of NU Italian Club. He precious experiences include working as a Financial Analyst for a European 3D printing startup, and as an intern consultant for an Italian Financial Consulting firm. In his spare time he enjoys watching and playing sports such as soccer and basketball. Daniele is fluent in English/Italian, and has work proficiency in Spanish.</span>
        </div>
        <div class="col-lg-5 col-lg-offset-2 founderProfile">
          <a href="https://www.linkedin.com/in/nikolai-sokolov-romanov-1a4b5a96"><img src="images/n.romanov.jpg"></a>
          <a href="https://www.linkedin.com/in/nikolai-sokolov-romanov-1a4b5a96"><h3>Nikolai Sokolov Romanov</h3></a>
          <span class="bio">Nikolai is a 2nd year chemical engineering student at Northeastern. Previously, he worked in several on and off campus laboratories developing drug delivery systems and optimizing proton exchange membrane performance. In his spare time, he enjoys volunteering as a tutor, reading, and viewing performing arts in the Boston area. Nikolai is fluent in Russian and English, and has working proficiency in Spanish.</span>
        </div>
        </div>
        </div>
        </div>
  </div>
</template>

<template name="howTemp">
<div id="how">
  <p class="orangeText"> HOW IT WORKS </p>
</div>
</template>


<template name="mapTemp">
  <div id="map">
  <div class="map-container">
    {{> googleMap name="exampleMap" options=exampleMapOptions}}
  </div>
</div>
</template>

<template name="footer">
<div id="footer">

  <div class="col-lg-3"><p class="">Discover</p></div>
  <div class="col-lg-3"><p class="">Company</p></div>
  <div class="col-lg-3"><p class="">Follow Us</p></div>


</div>
</template>
